html,
body {
	height: 100%;
	width: 100%;
	background-color: #F5F5F5;
}

.mui-bar-tab .mui-tab-item .mui-icon {
	top: 8px;
}

/*.nav-robot {
	width: 100%;
	height: 45px;
	/*position: absolute;*/
	/*bottom: 50px;
	z-index: 999;*/
	/*background-color: red;*/
}*/

.nav-robot img {
	/*margin: 0 auto;
	display: block;
	position: relative;*/
	display: none;
	
}