/* 整体默认格式的解除 */

body,
div,
iframe,
ul,
ol,
dl,
dt,
dd,
li,
dl,
i,
h1,
h2,
h3,
h4,
table,
th,
td,
input,
button,
select,
textarea {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "PingFang-SC-Bold";
}


/*-- ---头部标题开始--- --*/

.home-head {
	width: 100%;
	height: 110px;
	background-color: #1B82D1;
	position: fixed;
	z-index: 2;
	top: 0;
}

.home-head-weather {
	width: 150px;
	height: 110px;
	position: absolute;
	padding-top: 0px;
}

.home-head-weather img {
	width: 70px;
	height: 70px;
	display: block;
	margin: 0 auto;
}

.home-head-weather span {
	display: block;
	color: #ffffff;
	font-size: 28px;
	text-align: center;
	line-height: 28px;
}

.home-head .home-head-title {
	font-size: 2.8rem;
	color: #FFFFFF;
	margin: 0 auto;
	line-height: 110px;
	width: 240px;
}

.home-head .home-head-search {
	position: absolute;
	right: 26px;
	top: 16px;
}

.home-head-search>img {
	width: 78px;
	height: 78px;
}


/*-- ---头部标题结束--- --*/


/*-- ---一键报障返回标题开始--- --*/

.mainlink-trouble-title {
	width: 100%;
	height: 110px;
	background-color: #1B82D1;
	color: #ffffff;
}
.fixed{
	position: fixed;
	z-index: 99;
	top: 0px;
}

.mainlink-trouble-title>img:first-child {
	position: absolute;
	left: 40px;
	top: 24px;
}

.mainlink-trouble-title img:last-child {
	position: absolute;
	right: 40px;
    top: 25px;
    width: 60px;
}
.mainlink-trouble-title #share {
	position: absolute;
	right: 0;
	top: 0;
}
.mainlink-trouble-title #share>img{
	position: none;


    width: 60px;
}
.mainlink-trouble-title span {
	display: block;
	text-align: center;
	line-height: 110px;
	font-size: 48px;
}


/*-- ---键报障返回标题结束--- --*/