/* 整体默认格式的解除 */

body,
div,
iframe,
ul,
ol,
dl,
dt,
dd,
li,
dl,
i,
h1,
h2,
h3,
h4,
table,
th,
td,
input,
button,
select,
textarea {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "PingFang-SC-Bold";
}

.mainlink-suivey-title {
	width: 100%;
	height: 60px;
	background-color: #1B82D1;
	color: #ffffff;
}

.mainlink-suivey-title img {
	position: absolute;
	left: 24px;
	top: 16px;
	width: 30px;
}

.mainlink-suivey-title span {
	display: block;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
}


/*-- ------标题开始------ --*/

.myresquest-body-title {
	width: 100%;
	height: 56px;
	/*background-color: #FFFCF4;*/
}

.myresquest-body-title span {
	font-size: 17px;
	color: #333333;
}

.title-left,
.title-center,
.title-right {
	float: left;
	width: calc(100%/3);
	line-height: 56px;
	text-align: center;
	height: 56px;
	position: relative;
}

.title-bluebur:after {
	content: "";
	background-color: #1B82D1;
	position: absolute;
	left: calc((100% - 120px)/2);
	width: 120px;
	height: 4px;
	top: 53px;
	border-radius: 5px;
}

.body-title-bottomline {
	width: 100%;
	height: 1px;
	background-color: #E0E1E5;
}


/*-- ------标题结束------ --*/


/*-- ------公交线路开始------ --*/

.bus-path {
	width: 80%;
	height: 60px;
	margin: 0 auto;
	/*background-color: azure;*/
	position: relative;
}

.bus-path-img {
	width: 40px;
	float: left;
	position: relative;
	top: 10px;
}

.bus-path-img img {
	width: 40px;
	height: 40px;
}

.bus-path-input {
	width: calc(100% - 40px);
	float: left;
	position: relative;
	top: 10px;
}

.bus-path-input input {
	height: 40px;
	width: 90%;
	font-size: 18px;
	padding-left: 10px;
	color: #666666;
	border: 0px;
	outline: none;
}

.busline-list-item {
	width: 80%;
	height: 100px;
	margin: 0 auto;
	/*background-color: azure;*/
	position: relative;
}

.busline-item-bottomline {
	height: 1px;
	background-color: #E0E1E5;
	width: 110%;
	position: absolute;
	bottom: 0px;
}

.bottomline {
	height: 1px;
	background-color: #E0E1E5;
	width: 120%;
	position: absolute;
	bottom: 0px;
	left: -10%;
}

.busline-item-title {
	padding-top: 20px;
}

.busline-item-title span {
	color: #333333;
	font-size: 20px;
}

.busline-item-text {
	padding-top: 10px;
}

.busline-item-text span {
	color: #666666;
	font-size: 16px;
}


/*-- ------公交线路结束------ --*/

.baidu-map {
	height: 500px;
	width: 100%;
}


/*------起终点开始------*/

.bus-startend {
	height: 112px;
}

.bus-startend-img {
	float: left;
	width: 13%;
}

.bus-startstation-body {
	float: left;
	width: 87%;
	/*background-color: azure;*/
}

.bus-startstation span {
	float: left;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #14D914;
	position: relative;
	top: 26px;
}

.bus-startstation input {
	float: left;
}

.bus-endstation span {
	float: left;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #E51616;
	position: relative;
	top: 26px;
}

.bus-endstation input {
	float: left;
}

.bus-startend-img img {
	position: relative;
	width: 36px;
	height: 36px;
	top: 37px;
	left: calc((100% - 36px)/2);
}

.bus-startstation {
	height: 56px;
	border-bottom: 1px solid #E0E1E5;
}

.bus-endstation {
	height: 56px;
}

.bus-startstation input,
.bus-endstation input {
	height: 30px;
	width: 80%;
	position: relative;
	top: 14px;
	border: 0px;
	outline: none;
	padding-left: 16px;
}


/*------起终点结束------*/